<html>
<head>
	<style>
.main_table{
	margin-left: 250px;
}
#india{
	width:600px;
	height:375px;
}
#us{
	width:600px;
	height:360px;
}
#uk{
	width:600px;
	height: 305px;
}
#canada{
	width:600px;
	height:338px;
}
#australia{
	width:600px;
	height: 338px;
}
	</style>
</head>
<body>
	<table class="main_table">
		<tr>
			<td>
				<img src="http://www.techicy.com/wp-content/uploads/2015/01/indian-flag-cover-1024x640.jpg" id="india">
			</td>
			<td>
				<img src="http://cdn.wallpapersafari.com/22/52/AF3grJ.jpg" id="us">
			</td>
		</tr>
		<tr>
			<td>
				<img src="http://cdn.wallpapersafari.com/8/48/zcbJTN.jpg" id="uk">
			</td>
			<td>
				<img src="https://i.ytimg.com/vi/yidCk9ZxlLo/maxresdefault.jpg" id="australia">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="http://mtltimes.ca/wp-content/uploads/2015/02/Canada_flag-7.jpg" id="canada">
			</td>
		</tr>
	</table>
</body>
</html>
<table style="margin-left:472px;margin-top:40px;">
	<tr>
		<td rowspan="2">
			<img src={{ I[2] }} style="border:4px solid red;"/>
		</td>
		<td style="width:628px;">
			<div style="background-color:rgba(255, 51, 0,0.7);border:4px solid blue;border-radius:4px;height:300px;padding-top:40px;">
				<p style="text-align:center;margin-top:-30px;" class="headliness">{{ H[2]|safe }}</p>
				<p style="text-align:center;padding-top:40px;" class="parazs">{{ P[2]|safe }}</p>
			</div>
		</td>
	</tr>
</table>
