<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;

  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid1 {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  </style>
</head>
<body>
  <a href="{{ url_for('home') }}" class="navbar-brand"><img src="/static/news.png" style="margin-top:-40px;"></a>
  <nav class="navbar navbar-inverse" style="margin-left:250px;">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Politics<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">U.S.A</a></li>
          <li><a href="#">India</a></li>
          <li><a href="#">United Kingdom</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Others</a></li>
        </ul>
        <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Economy<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">U.S.A</a></li>
            <li><a href="#">India</a></li>
            <li><a href="#">United Kingdom</a></li>
            <li><a href="#">Australia</a></li>
            <li><a href="#">Canada</a></li>
            <li><a href="#">Others</a></li>
          </ul>
          <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sports<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">U.S.A</a></li>
              <li><a href="#">India</a></li>
              <li><a href="#">United Kingdom</a></li>
              <li><a href="#">Australia</a></li>
              <li><a href="#">Canada</a></li>
              <li><a href="#">Others</a></li>
            </ul>
            <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Technology<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">U.S.A</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">United Kingdom</a></li>
                <li><a href="#">Australia</a></li>
                <li><a href="#">Canada</a></li>
                <li><a href="#">Others</a></li>
              </ul>
              <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Entertainment<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">U.S.A</a></li>
                  <li><a href="#">India</a></li>
                  <li><a href="#">United Kingdom</a></li>
                  <li><a href="#">Australia</a></li>
                  <li><a href="#">Canada</a></li>
                  <li><a href="#">Others</a></li>
                </ul>

      </li>
      <li><a href="developer.html">Developers</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid1 bg-2 text-center">
  <p><h3 class="margin">Developers</h3></p>
</div>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Akshay Prabhakant</h3>
  <img src="/static/Akshay.jpg" class="img-responsive img-circle margin" style="display:inline" alt="IMAGE" width="350" height="350">
  <h3>Email : akshaybagde@</h3>
</div>
<!-- Second Container -->
<div class="container-fluid1 bg-2 text-center">

  <p> </p>

</div>
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Abid Ahmad</h3>
  <img src="/static/Abid.jpg" class="img-responsive img-circle margin" style="display:inline" alt="IMAGE" width="350" height="350">
  <h3>Email : abidahmad@ymail.com</h3>
</div>
<footer class="container-fluid1 bg-4 text-center">
 <p>News By Us</p>
</footer>
</body>
</html>
