{% extends "home.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
{% for i in range(3) %}
<a href="{{ main_news[i] | safe }}">
<div style="margin-left:250px;border:2px groove #c2c2a3;border-radius:4px;background-color:#ffe6ff;height:200px;">
  <table width="1436">
    <tr>
      <td rowspan="2">
        <img src="{{ news[i] | safe }}" >
      </td>
      <td style="text-align:center;vertical-align:middle">
        <p style="font-family: 'Lobster', cursive;font-size:30px;text-shadow:3px 3px 0 #999;">{{ head[i] | safe }}</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top;text-align:center;">
	      <p style="font-family: 'Bad Script', cursive;">{{ des[i] | safe }}</p>
      </td>
    </tr>
  </table>
</div>
</a>
{% endfor %}
{% endblock %}
