<html>
<head>
  {% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:600i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <style>
body{
  background-image: url("https://media.giphy.com/media/Y1dX6v6Xo5gJMVS35f/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
  </style>
  {% endblock %}
</head>
<body>
  {% block body %}
  <a href="{{ url_for('home') }}" class="navbar-brand"><img src="/static/news.png" style="margin-top:-40px;"></a>
  <nav class="navbar navbar-inverse" style="margin-left:250px;">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Top-3<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('usa') }}">U.S.</a></li>
          <li><a href="{{ url_for('india') }}">India</a></li>
          <li><a href="#">England</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
      </li>
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Politics<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('usaPolitics') }}">U.S.</a></li>
          <li><a href="{{ url_for('politicsindia') }}">India</a></li>
          <li><a href="#">England</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
      </li>
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Economy<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('usaEconomy') }}">U.S.</a></li>
          <li><a href="{{ url_for('economyindia') }}">India</a></li>
          <li><a href="#">England</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
      </li>
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sports<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('usaSports') }}">U.S.</a></li>
          <li><a href="{{ url_for('sportsindia') }}">India</a></li>
          <li><a href="#">England</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
      </li>
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Technology<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('usaTech') }}">U.S.</a></li>
          <li><a href="{{ url_for('technologyindia') }}">India</a></li>
          <li><a href="#">England</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
      </li>
      <li class="active,dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Entertainment<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">U.S.A</a></li>
          <li><a href="{{ url_for('entertainmentindia') }}">India</a></li>
          <li><a href="#">England</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
      </li>
      <li><a href="#">Developers</a></li>
    </ul>
  </div>
  </nav>
  {% endblock %}
</body>
</html>
