{% extends "home.html" %}
{% block head %}
{{ super() }}
<style>
.descript{
  font-family: 'Bad Script', cursive;
  color:white;
}
.descript:hover{
  color:red;
}
p{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
</style>
{% endblock %}
{% block body %}
{{ super() }}
{% for i in range(N) %}
<a href="{{ main_news[i] | safe }}">
<div style="margin-left:250px;border:2px ;border-radius:4px;height:200px;margin-top:100px;">
  <table width="1570" style="background-color:rgba(13, 13, 13,0.9);">
    <tr>
      <td rowspan="2"  style="background-color:rgba(13, 13, 13,0.9);" width="303px">
        <img src="{{ news[i] | safe }}" height="200px" width="auto">
      </td>
      <td style="text-align:center;vertical-align:middle;background-color:rgba(13, 13, 13,0.9);">
        <p style="font-family: 'Lobster', cursive;font-size:30px;color:white;">{{ head[i] | safe }}</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top;text-align:center;background-color:rgba(13, 13, 13,0.9);">
	      <p class="descript">{{ des[i] | safe }}</p>
      </td>
    </tr>
  </table>
</div>
</a>
{% endfor %}
{% endblock %}
