{% extends "home.html" %}
{% block head %}
{{ super() }}
<style>
.poloimage{
  width:600px;
  height: 389px;
}
p{
  width:600px;
  text-align: center;
  color:white;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
}
#newstable{
  margin-top: 100px;
  margin-left: 250px;

}
</style>
{% endblock %}
{% block body %}
{{ super() }}
<table id="newstable">
  <tr id="firstrow">
    <td style="background-color:rgba(153, 0, 0,0.9)" >
      <a href="{{ main_news[0] }}" >
        <img src="{{ news[0] }}" class="poloimage"/>
        <p>{{ head[0]|safe }}</p>
        <p>{{ des[0]|safe }}</p>
      </a>
    </td>
    <td width="50px;">
    </td>
    <td style="background-color:rgba(153, 0, 0,0.9)" >
      <a href="{{ main_news[1] }}" >
        <img src="{{ news[1] }}" class="poloimage" />
        <p>{{ head[1]|safe }}</p>
        <p>{{ des[1]|safe }}</p>
      </a>
    </td>
  </tr>
</table>
<table id="newstable">
  <tr id="firstrow">
    <td style="background-color:rgba(153, 0, 0,0.9)" >
      <a href="{{ main_news[2] }}" >
        <img src="{{ news[2] }}" class="poloimage" />
        <p>{{ head[2]|safe }}</p>
        <p>{{ des[2]|safe }}</p>
      </a>
    </td>
    <td width="50px;">
    </td>
    <td style="background-color:rgba(153, 0, 0,0.9)" >
      <a href="{{ main_news[3] }}" >
        <img src="{{ news[3] }}" class="poloimage" />
        <p>{{ head[3]|safe }}</p>
        <p>{{ des[3]|safe }}</p>
      </a>
    </td>
  </tr>
</table>
{% endblock %}
